.p-type {
  background-color: #00fa00;
  color: #fafafa;
}

.p-move {
  background-color: #fafafa;
  color: #00fa00;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
